/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  color: #f035c5;
  background-color: #0e2a36;
}

a {
  color: #f035c5;
  text-decoration: none;
}

a:hover {
  color: #f035c5;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.wave {
  background: url('../img/wave.png') no-repeat top center;
  background-size: 100%;
  display: block;
  height: 18px;
  border: 0;
}

.text-purple {
  color: #f035c5;
}

.img-title {
  max-width: 80px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f035c5;
  --bs-btn-border-color: #f035c5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c72ba2;
  --bs-btn-hover-border-color: #f035c5;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f035c5;
  --bs-btn-active-border-color: #f035c5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f035c5;
  --bs-btn-disabled-border-color: #f035c5;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ca8dd9;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ac40d5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content+.content {
  margin-top: 25px;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}



/*--------------------------------------------------------------
# Reviews
--------------------------------------------------------------*/

.overlap {
  z-index: 1;
  position: relative;
  top: -20px;
}


/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.products .card{
  --bs-card-cap-bg: #f035c5 !important;
  --bs-card-border-width: 0 !important;
  color: black;
  font-weight: 600;
  font-size: medium;
}

.products ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.products .content ul {
  list-style: none;
  padding: 0;
}

.products .bi-check-circle-fill {
  color: #f035c5;
}
